body {
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  /* background-color: black; */
  padding: 0;
  /* width: max-content; */
  /* height: 100%;   */
}

/* .container {
  margin: 1rem auto;
  width: 60%;
  height: 90%; 
  border-radius: 5px;
  overflow: auto;
  padding: 15px;
} */

/* .dnd-list {
  display: flex;
  flex-direction: row;
  height: 35px;
  margin-bottom: 10px;
} */

/* .input-item {
  position: relative;
  height: 100%;
  flex-basis: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 10px;
  font-size: calc(10px + 2vmin);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: move;
  padding-left: 10px;
} */

.over {
  transform: scale(1.01);
  border: 1px dashed #eee;
}

/* .addButton {
  display: flex;
  align-items: center;
  margin: auto;
  line-height: 26px;
  border: none;
  color: black;
  border-radius: 50%;
  font-size: 24px;
} */

.delButton {
  display: flex;
  align-items: center;
  color: darkgrey;
  margin-left: 10px;
  height: 37px;
  width: 30px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.current-exercise-plan-img {
  border-radius: 60px;
  height: 80vh;
}
